extends layout

append head
    link(rel='stylesheet' type='text/css' href='/stylesheets/notes.css')
    
block content
  main.section.notes
    nav.navbar
      a(href="/" title="Home")
        img.icon(src="/images/icon.png")
      a(href="/wanttodo" class=(board_name === "wanttodo" ? "active" : "")) Want to Do
      a(href="/learned" class=(board_name === "learned" ? "active" : "")) Learned
      a(href="/gratefulfor" class=(board_name === "gratefulfor" ? "active" : "")) Grateful For
    fieldset.list-container
      legend
        h2 #{title}
      ul
        li
          form.note
            textarea(name="message" type="text" placeholder="Your message" required)
            fieldset
              input(name="username" type="text" placeholder="Your Name" required)
              input(name="board_id" type="text" value=`${board_id}` hidden)
              input(type="submit" value="Stick it!")

              //- TODO remove defaults and allow user to enter these values
              input(name="language" type="text" value="english" hidden)
              input(name="country" type="text" value="us" hidden)
              input(name="city" type="text" value="nyc" hidden)
              
        each note in notes
          li.note(tabindex="0" id=`note-${note.id}`)
              p #{note.message}
              h5 #{note.username}        

  script(src="/javascripts/form.js")
  script(src="/javascripts/notes.js")
        
        